@charset "utf-8";

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray: #d9d9d9;
    --lightgray: #e8e8e8;
    --icegray: #ededed;
    --nicegray: #a3a3a3;
    --blue: #00A3FF;
    --wetblue: #7ec9f3;
    --green: #6dd67e;
    --red: #ff0000;
    --pink: #f3cfcf;
}

@font-face {
    font-family: myFont;
    src: url("/fonts/B Koodak Bold.ttf");
}

* {
    direction: rtl;
}

.wrapper {
    width: 80%;
    background-color: var(--lightgray);
    height: auto;
    float: left;

}

.aside {
    width: 20%;
    background-color: var(--white);
    height: 1000px;
    float: left;
}

.header {
    background-color: var(--white);
    width: 100%;
    height: 90px;
}

.logo {
    width: 90px;
    height: 90px;
    float: right;
}

.logo img {
    width: 90px;
    height: 90px;
    display: block;
}

.logo img:hover {
    opacity: 0.9;
}

.navbar {
    width: 60%;
    height: 90px;
    float: right;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    width: 130px;
    text-align: center;
    font-size: 20px;
    float: right;
    margin-top: 15px;
    padding: 0 10px;
}

li:hover {
    background-color: var(--lightgray);
    color: ;
}

li:nth-child(2) {
    padding: 0 40px 0 0px;
    width: 100px;
}

ul li img {
    width: 20px;
    height: 20px;
    float: right;
    padding: 0 10px;
    margin-top: 8px
}

ul li img:first-child {
    margin-top: 0px
}

ul li a {
    text-decoration: none;
    color: var(--black);
    display: block;
    float: right;
    font-family: myFont;
    text-align: center;
}

.controller {
    width: 30%;

    height: 90px;
    float: right;
}

.controller span {
    display: block;
    float: right;
    background-color: var(--icegray);
    padding: 9px;
    font-family: sans-serif;
    font-size: 25px;
    margin: 20px 10px;
    border-radius: 20px;
}

.controller span:hover {
    background-color: var(--gray);
}

.controller span:first-child {
    margin-right: 50px;
}

.controller img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.controller #drop {
    width: 18px;
    float: right;
    padding: 3px;
}

.contents {
    width: 90%;
    margin: auto;
    height: 1000px;
}

.contents .progress-bar {
    height: 120px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.contents .progress-bar .title {
    padding-top: 20px;
    font-size: 17px;
    font-family: myFont;
    text-align: right;
    width: 100%;
}

.contents .progress-bar .title span {
    margin: 0px 70px 0px 6px;
    display: inline-block
}

.contents .progress-bar .title span:nth-child(2) {
    margin-left: -5px;
}

.contents .progress-bar .title span:nth-child(3) {
    margin-left: 34px;
}

.contents .progress-bar .bar {
    display: block;
    width: 100%;
    margin: auto;
    text-align: right;
}

.contents .progress-bar .bar span {
    display: inline-block;
    font-family: fantasy;
    width: 23px;
    height: 23px;
    text-align: center;
    padding: 10px;
    background-color: var(--blue);
    border-radius: 30px;
    margin: 0 130px 0 0;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
}

.contents .progress-bar .bar span:first-child {
    margin: 0;
}

.contents .progress-bar .bar hr {
    margin: -25px;
    width: 80%;
    margin-right: 20px;
    border: 5px solid var(--wetblue);
}

#completed {
    border: 5px solid var(--green);
}

.contents .info {
    width: 90%;
    margin: auto;
}

.contents .info h1 {
    width: 97%;
    font-family: myFont;
    font-weight: normal;
    font-size: 25px;
    padding-right: 30px;
}

.contents .info .slices {
    width: 90%;
    height: auto;
}

.contents .info .slices .slice1 {
    background-color: var(--white);
    width: 49%;
    height: 730px;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    font-family: myFont;
    font-weight: normal;
}

.contents .info .slices .slice1 h2 {
    color: var(--black);
    font-size: 23px;
    padding-right: 25px;
}

.contents .info .slices .slice1 h3 {
    color: var(--black);
    font-size: 20px;
    padding-right: 45px;
}

.contents .info .slices .slice1 p {
    color: var(--nicegray);
    font-size: 18px;
    padding-right: 60px;
}

.contents .info .slices .slice1 span {
    background-color: var(--gray);
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.contents .info .slices .slice2 {
    background-color: var(--white);
    width: 49%;
    height: 730px;
    float: right;
    border-radius: 25px;
    font-family: myFont;
    font-weight: normal;
}

.contents .info .slices .slice2 h2 {
    color: var(--black);
    font-size: 23px;
    padding-right: 25px;
}

.contents .info .slices .slice2 h3 {
    color: var(--black);
    font-size: 20px;
    padding-right: 45px;
}

.contents .info .slices .slice2 p {
    color: var(--nicegray);
    font-size: 18px;
    padding-right: 60px;
}

.contents .info .more-info {
    background-color: var(--white);
    height: 300px;
    width: 100%;
    float: right;
    margin-top: 40px;
    border-radius: 25px;
}

.contents .info .more-info h3 {
    color: var(--black);
    font-size: 20px;
    padding-right: 45px;
    font-family: myFont;
    font-weight: normal;
}

.contents .info input {
    float: left;
    margin-top: 20px;
    margin-bottom: 70px;
    background-color: var(--blue);
    color: var(--white);
    font-family: myFont;
    font-size: 19px;
    border: none;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.contents .info input:hover {
    background-color: var(--wetblue);
}

.aside img {
    text-align: center;
    display: block;
    width: 130px;
    height: 130px;
    margin: auto;
}

.aside img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.aside h4 {
    text-align: center;
    font-family: myFont;
    font-size: 20px;
    line-height: 10px
}

.aside h5 {
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    line-height: 5px;
    margin-bottom: 60px;
}

.aside span {
    background: var(--blue);
    display: block;
    font-family: myFont;
    font-size: 18px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    color: var(--white);
}

.aside span:hover {
    background: var(--wetblue);
    cursor: pointer;
    color: var(--black);
}

.aside span img {
    width: 20px;
    height: 20px;
    display: block;
    padding: 0 7px;
    float: right;
    margin-top: 5px;
}

.aside span:nth-child(5) {
    margin-bottom: 50px;
}

.aside span:nth-child(6) {
    background-color: var(--gray);
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(6):hover {
    background-color: gray;
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(7) {
    background-color: var(--gray);
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(7):hover {
    background-color: gray;
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(8) {
    background-color: var(--gray);
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(8):hover {
    background-color: gray;
    color: var(--black);
    width: 70%;
    text-align: right
}

.aside span:nth-child(9) {
    background-color: var(--gray);
    color: var(--black);
    width: 70%;
    text-align: right;
    margin-bottom: 200px;
}

.aside span:nth-child(9):hover {
    background-color: gray;
    color: var(--black);
    width: 70%;
    text-align: right;
    margin-bottom: 200px;
}

.aside span:nth-child(10) {
    background-color: var(--pink);
    color: var(--black);
    width: 35%;
    text-align: right;
}

.aside span:nth-child(10):hover {
    background-color: palevioletred;
    color: var(--black);
    width: 35%;
    text-align: right;
}

.contents .info .message {
    width: 88%;
    height: 84px;
    margin: auto;
    background-color: var(--green);
    float: right;
    border-radius: 40px;
}

.contents .info .message img {
    width: 30px;
    height: 30px;
    float: right;
    display: block;
    margin: 24px 20px 0 10px;
}

.contents .info .message p {
    font-family: myFont;
    display: block;
    font-size: 20px;
    float: right;
    margin-top: 25px;
}

#return {
    background-color: var(--lightgray);
    color: var(--black);
    margin-left: 20px;
}

#return:hover {
    background-color: var(--gray);
}

#alert {
    display: block;
    float: right;
    background-color: var(--red);
    margin: 20px 10px 0 0;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    padding: 0;
    position: absolute;
}
